on: push
jobs:
  build-windows:
    runs-on: windows-latest
    strategy:
      matrix:
        include:
          - msvc_name: 'x86'
            build_name: 'x86'
          - msvc_name: 'x64'
            build_name: 'x86_64'
    name: build windows (${{ matrix.build_name }})
    steps:
      - name: clone
        uses: actions/checkout@v2
      - uses: TheMrMilchmann/setup-msvc-dev@v2
        with:
          arch: ${{ matrix.msvc_name }}
      - name: build
        run: python test.py build --tool msvc --arch ${{ matrix.build_name }}
      - name: put artifacts
        uses: actions/upload-artifact@v2
        with:
          name: binaries-${{ matrix.build_name }}
          path: binaries
  build-ubuntu:
    runs-on: ubuntu-latest
    steps:
      - name: deps
        run: |
          export DEBIAN_FRONTEND=noninteractive
          sudo apt-get update -qy
          sudo apt-get install -y \
            clang \
            gcc-aarch64-linux-gnu \
            gcc-alpha-linux-gnu \
            gcc-arm-linux-gnueabi \
            gcc-hppa-linux-gnu \
            gcc-m68k-linux-gnu \
            gcc-mips-linux-gnu \
            gcc-mips64-linux-gnuabi64 \
            gcc-mipsel-linux-gnu \
            gcc-powerpc-linux-gnu \
            gcc-powerpc64-linux-gnu \
            gcc-riscv64-linux-gnu \
            gcc-s390x-linux-gnu \
            gcc-sh4-linux-gnu \
            gcc-sparc64-linux-gnu \
            libc6-dev:i386 gcc:i386
      - name: clone
        uses: actions/checkout@v2
      - name: build
        run: python test.py build --tool gcc clang
      - name: put artifacts
        uses: actions/upload-artifact@v2
        with:
          name: binaries-ubuntu
          path: binaries
  test:
    needs: [build-windows, build-ubuntu]
    runs-on: ubuntu-latest
    steps:
      - name: clone
        uses: actions/checkout@v2
      - name: get artifacts
        uses: actions/download-artifact@v2
      - name: list
        run: find .
      - name: merge artifacts
        run: mkdir -p binaries; mv binaries-*/* binaries; rmdir binaries-*
      - name: put artifacts
        uses: actions/upload-artifact@v2
        with:
          name: binaries-all
          path: binaries
      - name: list
        run: find .
      - name: test
        run: python test.py
